/*---------------------------------------------body*/
body,form{
	margin: 0;
	padding: 0;
}
body{
	padding-bottom:40px;
}
body,td{
	font-size:90%;
	line-height:180%;
}
hr{
	height:1px;
	border:none;
	border-top:1px solid #dddddd;
	margin:0;
	padding:0;
	margin-top:20px;
	margin-bottom:20px;
}
p{
	padding:0;
	margin:0;
	margin-bottom:20px;
}
img{
	max-width:100%;
}

/*---------------------------------------------main*/
.bodyw{
	width:100%;
	max-width:1000px;
}
.border0{
	display:inline-block;
	border:1px solid #33b4ea;
	text-align:center;
	background-color:#FFFFFF;
}
.border1{
	display:inline-block;
	border:1px solid #33b4ea;
	text-align:center;
	background-color:#FFFFFF;
	min-width:1000px;
}
.border1 p{
	word-wrap:break-word;
	white-space:normal;
	word-break:break-all;
}
.red{
	color:#FF0000;
}
.padding1{
	padding:20px;
	padding-top:0;
}
.padding2{
	padding:20px;
	background-color:#FFFFFF;
}
@media only screen and (max-width:1000px){
	.border1{
		width:100%;
		min-width:inherit;
		border:0;
	}
	.padding1{
		padding:0;
	}
	.padding2{
		padding:0;
		padding-top:20px;
	}
}

/*----------------------------------------------a*/
a {
	color:#187bd6;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
}
a:hover {
	color:#FF0000;
	text-decoration: none;
}

/*----------------------------------------------bt*/
.bt1{
	padding:8px;
	padding-left:25px;
	padding-right:25px;
	border-radius:10px;
	line-height:100%;
	cursor:pointer;
	border: none;
	color: #FFFFFF;
	background-color: #33b4ea;
}
.bt1:hover{
	color: #FFFFFF;
	background-color: #187bd6;
	text-decoration:none;
}
@media only screen and (max-width: 700px){
	.bt1{
		padding-left:10px;
		padding-right:10px;
		font-size:90%;
	}
}

/*----------------------------------------------top*/
.topdiv{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}
.topdiv span:nth-child(1){
	font-family: "微软雅黑","Microsoft YaHei","雅黑","YaHei","黑体","SimHei";
	font-size:200%;
	color:#ff6b00;
	font-weight:bold;
	line-height:100%;
}
.topdiv span:nth-child(2) a{
	margin-left:20px;
}
@media only screen and (max-width: 1000px){
	.topdiv{
		padding:10px;
	}
	.topdiv span:nth-child(1){
		font-size:110%;
	}
	.topdiv span:nth-child(2) a{
		font-weight:normal;
		margin-left:10px;
	}
}

/*----------------------------------------------menu*/
.menu{
	background:#33b4ea;
	margin-bottom:10px;
	width:100%;
}
.menu div{
	display: flex;
	justify-content:space-between;
}
.menu div a{
	line-height:40px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	width:100%;
	font-size:110%;
}
.menu div a:hover,
.menu div a.sel{
	background-color:#f06b12;
}
@media only screen and (max-width: 600px){
	.menu div a{
		line-height:30px;
		font-size:90%;
		font-weight:normal;
	}
}

/*----------------------------------------------menu2*/
.menu2{
	display: flex;
	flex-wrap: wrap;
	padding-top:25px;
	padding-bottom:10px;
	border-bottom:1px solid #33b4ea;
	justify-content:center;
}
.menu2 a{
	margin:15px;
	margin-top:0;
	font-size:120%;
}
.menu2 a.sel{
	color:#FF0000;
}
@media only screen and (max-width: 600px){
	.menu2{
		padding-top:10px;
	}
	.menu2 a{
		margin:10px;
		font-size:110%;
	}
}

/*----------------------------------------------table*/
.table0{
	background-color:#33b4ea;
}

.table2{
	background-color:#199fcb;
	margin-bottom:10px;
}
.table2_title0 {
	font-weight:bold;
	text-align:center;
	color:#ffffff;
}
.table2_text0{
	background-color:#ffffff;
	text-align:center;
}
.table2_text0a{
	background-color:#E6FFFF;
	text-align:center;
}
.table2_text1{
	background-color:#ffffff;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
}
.table2_text1a{
	background-color:#E6FFFF;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
}

.table3{
	border-top:1px solid #dddddd;
	border-left:1px solid #dddddd;
}
.table3 td{
	background:#ffffff;
	text-align:center;
	font-size:12px;
	white-space:nowrap;
	border-right:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	padding:1px;
}
.table3 td.green{
	background:#33b4ea;
	color:#FFFFFF;
}
.table3 td.tdimg{
	line-height:100%;
}
.table3 tr td:first-child{
	position:sticky;
	left:0;
}

/*----------------------------------------------text*/
.text0 {
	text-align:left;
	padding:0;
	padding-top:10px;
	padding-bottom:20px;
}
.text1 {
	text-align:left;
	padding:10px;
}
.text1a {
	text-align:left;
	padding:20px;
}
.text1b {
	text-align:left;
	padding:10px;
	display:inline-block;
}
.text2{
	padding:20px;
	text-align:left;
	font-size:110%;
	line-height:200%;
}
.text3{
	padding:20px;
	text-align:left;
	line-height:200%;
	font-size:90%;
}
.text4{
	padding:20px;
	display: flex;
	flex-wrap: wrap;
	line-height:200%;
}
.text4 span{
	text-align:left;
	padding-right:20px;
	padding-bottom:20px;
}

.text5{
	padding:10px;
	display: flex;
	flex-wrap: wrap;
}
.text5 a{
	text-align:center;
	padding:10px;
	font-size:110%;
}
.text5 a img{
	width:320px;
	display:block;
	border: 1px solid #cccccc;
	padding:2px;
	margin-bottom:5px;
}
.text6{
	padding:10px;
	font-size:120%;
}
.text6 h2{
	font-size:130%;
}
.text6 h3{
	font-size:120%;
	padding:10px;
	color:#ffffff;
	background-color:#33b4ea;
}
.text6 img{
	margin-top:5px;
}

@media only screen and (max-width: 600px){
	.text2{
		padding:10px;
		font-size:100%;
	}
	.text3{
		padding:10px;
	}
	.text5 a{
		font-size:100%;
		width:50%;
		box-sizing:border-box;
	}
}

/*----------------------------------------------title*/
.title0 {
	height:34px;
	line-height:34px;
	font-size:120%;
	font-weight:bold;
	color:#ffffff;
	background-color:#33b4ea;
	text-align:left;
	text-indent:15px;
}
.title0 a{
	float:right;
	padding-right:20px;
	color:#FFFFFF;
}
.title0 a:hover{
	color:#FFFF00;
}
@media only screen and (max-width: 600px){
	.title0{
		font-size:100%;
	}
}

.title1 {
	text-align:left;
}
.title1 span {
	padding:5px;
	padding-left:0;
	padding-right:10px;
	background-color:#FFFFFF;
	margin:0;
	margin-top:-24px;
	font-weight:bold;
	font-size:110%;
	position:absolute;
}

.title1a {
	text-align:left;
	font-size:120%;
	font-weight:bold;
}

.title2 {
	text-align:center;
	font-size:110%;
	font-weight:bold;
}
.title2a {
	text-align:left;
	color:#FFFFFF;
	font-weight:bold;
	background-color: #33b4ea;
	padding-left:5px;
	padding-right:5px;
	line-height:24px;
}
.title2a a{
	color:#FFFFFF;
	float:right;
}
.title2b {
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	background-color: #33b4ea;
	padding-left:5px;
	padding-right:5px;
	line-height:24px;
}

.title3 {
	text-align:center;
	font-size:130%;
	font-weight:bold;
	margin-bottom:15px;
}

/*----------------------------------------------piclist*/
.piclist{
	padding-top:20px;
	display: flex;
	flex-wrap: wrap;
}
.piclist a{
	display:inline-block;
	text-align:center;
	margin-right:5px;
	margin-bottom:10px;
	padding-bottom:5px;
	border:1px solid #33b4ea;
	box-sizing:border-box;
}
.piclist a img{
	max-height:240px;
}

.piclist2{
	background-color:#FFFFFF;
	display: flex;
	flex-wrap: wrap;
}
.piclist2 span{
	text-align:center;
	margin:2px;
	width:100px;
	border:1px solid #e2e2e2;
	font-size:12px;
	line-height:150%;
	padding-bottom:2px;
}
.piclist2 span:hover{
	border:1px solid #33b4ea;
}
.piclist2 span img{
	display:block;
}
.piclist2 div{
	width:100%;
}

.piclist3{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;
}
.piclist3 span{
	text-align:center;
	margin:2px;
	font-size:120%;
	line-height:200%;
	font-weight:bold;
	background-color:#000000;
	color:#FFFFFF;
}
.piclist3 span:hover{
	background-color:#FF6633;
}
.piclist3 span img{
	display:block;
}
.piclist3 div{
	width:100%;
}

/*----------------------------------------------alist*/
.alist{
	padding:20px;
	text-align:left;
}
.alist a{
	padding:8px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	line-height:100%;
	cursor:pointer;
	color: #FFFFFF;
	background-color: #33b4ea;
	font-size:90%;
	float:left;
	margin:5px;
}
.alist a:hover{
	color: #FFFFFF;
	background-color: #187bd6;
	text-decoration:none;
}
.alist a.nofloat{
	float:none;
	display:block;
}
.alist div{
	clear:both;
}

/*----------------------------------------------other*/
.lista a{
	margin-right:10px;
}

.totop{
	position:fixed;
	bottom:0;
	z-index:100;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	display:block;
	color: #FFFFFF;
	background-color: #33b4ea;
	vertical-align:middle;
	text-decoration:none;
}
.totop:hover{
	color: #FFFFFF;
	background-color: #187bd6;
	text-decoration:none;
}